@keyframes display {
    0% {
      transform: translateX(1200px);
      opacity: 0;
    }
    30% {
      transform: translateX(500px);
      opacity: .6;
    }
    40% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(0);
      opacity: 1;
    }
    60% {
      transform: translateX(0);
      opacity: 1;
    }
    70% {
      transform: translateX(-500px);
      opacity: .6;
    }

    100% {
      transform: translateX(-1200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 4rem;
  }
  
  .pic-ctn .singlePodcast {
    position: absolute;
    top: 50%;
    left: calc(50% - 22rem);
    top: calc(50% - 11rem);
    opacity: 0;
    animation: display 18s infinite;
  }
  
  .singlePodcast:nth-child(1) {
    animation-delay: 3s;
  }
  .singlePodcast:nth-child(2) {
    animation-delay: 9s;
  }
  .singlePodcast:nth-child(3) {
    animation-delay: 15s;
  }
  
  
  
  /* M0bile */
  @media  (max-width: 700px) {
    
    .pic-ctn .singlePodcast {
      left: 0;
      top: calc(50% - 11rem);
    }
  }